:root {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;

    /* CSS HEX */
    --cinereous: #8a716aff;
    --pale-silver: #c2b8b2ff;
    --star-command-blue: #197bbdff;
    --sapphire-blue: #125e8aff;
    --midnight-green-eagle-green: #204b57ff;
    --strava-orange: #fc5200;
    --linkedin-blue: #0a66c2;
    --github-dark: #161b22;
}