.banner {
    &__container {
        width: 100vw;
        height: 5rem;
        margin-top: 5rem;
        margin-left: -8px;
        display: inline-block;
    }

    &__message {
        color: #FFFFFF;
        text-align: center;
        font-size: 1.3rem;
    }
}