.banner {
    &__container {
        width: 85vw;
        height: 5rem;
        margin-top: 5rem;
        margin-bottom: 2rem;
        display: inline-block;
    }

    &__message {
        color: #FFFFFF;
        text-align: center;
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .banner {
        &__container {
            max-width: 75vw;
        }

        &__message {
            font-size: 1.8rem;
        }
    }
}