.banner {
    &__container {
        margin-top: 4rem;
        // background-color: var(--cinereous);
        width: 100vw;
        height: 5rem;
        right: 0;
        top: 0;
        position: absolute;
    }

    &__message {
        color: #FFFFFF;
        text-align: center;
        font-size: 1.5rem;
    }
}