ul {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style-type: none;
}

@media (min-width: 500px) {
  ul {
    grid-auto-flow: column;
  }
}

a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
  background-color: white;
}

li:last-child {
  grid-column: 1 / 2;
}

div {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 10vh;
  width: 100%;
  background-color: var(--sapphire-blue);
  line-height: 1.3;
  font-family: Menlo, monospace;
}

.footer {
  &__link-strava {
    &:hover{
      color: var(--strava-orange);
      font-weight: bolder;
    }
  }

  &__link-linkedin {
    &:hover{
      color: var(--linkedin-blue);
      font-weight: bolder;
    }
  }

  &__link-github {
    &:hover{
      color: var(--github-dark);
      font-weight: bolder;

    }
  }

  &__icon {
    height: 1em;

    &::after {
      content: "testeaaaaaaS"
    }
  }

}