<div class="container">
  <h2 class="container__title">Athlete Stats</h2>
  <img class="container__avatar-img" src={{loggedAthleteInfo?.profile}}>
  <h3 class="container__athlete-name">{{loggedAthleteInfo?.firstname}} {{loggedAthleteInfo?.lastname }}</h3>
  <h3 class="container__athlete-city">{{loggedAthleteInfo?.city}}</h3>
  <div class="table__container">
    <table class="table">
      <thead class="table__header">
        <tr class="table__line">
          <th class="table__header-title" colspan="2">Running Totals Stats</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table__line">
          <th class="table__header-content">Runs</th>
          <td class="table__line-content">{{athleteStats?.all_run_totals?.count}}</td>
        </tr>
        <tr class="table__line">
          <th class="table__header-content">Distance</th>
          <td class="table__line-content">{{athleteStats?.all_run_totals?.distance}}K</td>
        </tr>
        <tr class="table__line">
          <th class="table__header-content">Moving Time</th>
          <td class="table__line-content">{{athleteStats?.all_run_totals?.moving_time}} hours</td>
        </tr>
        <tr class="table__line">
          <th class="table__header-content">Avg Pace</th>
          <td class="table__line-content">{{avgPace}}km/min</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>