table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
    text-align: left;
}

p {
    margin-top: 100px;
}

.container {
    margin-top: 4rem;
    display: inline-block;

    &__title {
        text-align: center;
        color: var(--strava-orange);
        justify-content: center;
    }
}

.table {
    &__header {
        &-title {
            font-weight: 900;
            font-size: 0.8rem;

        }

        &-content {
            font-size: 0.6rem;
        }
    }

    &__line {
        text-align: center;

        &-content {

            font-size: 0.75rem;
        }
    }
}