<meta name="viewport" content="width=device-width initial-scale=1.0">

<div class="container">
  <div class="container__box">
    <div *ngIf="!loading && !notFound else loadingBlock">
      <h3 class="container__athlete-name">{{loggedAthleteInfo?.firstname}} {{loggedAthleteInfo?.lastname }}</h3>
      <img class="container__avatar-img" src={{loggedAthleteInfo?.profile}}>
      <h5 class="container__athlete-city">Currently in {{loggedAthleteInfo?.city}}</h5>
      <table class="table">
        <thead class="table__header">
          <tr class="table__line">
            <th class="table__header-title" colspan="2">
              <app-icon source="./assets/img/run-icon.png" alt="Shoes Icon" [height]="25" [width]="25"></app-icon>
              Running
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table__line">
            <th class="table__header-content">Runs</th>
            <td class="table__line-content">{{athleteStats?.all_run_totals?.count}}</td>
          </tr>
          <tr class="table__line">
            <th class="table__header-content">Distance</th>
            <td class="table__line-content">{{athleteStats?.all_run_totals?.distance}}K</td>
          </tr>
          <tr class="table__line">
            <th class="table__header-content">Moving Time</th>
            <td class="table__line-content">{{athleteStats?.all_run_totals?.moving_time}} hours</td>
          </tr>
          <tr class="table__line">
            <th class="table__header-content">Avg Pace</th>
            <td class="table__line-content">{{runningAvgPace}} min/km</td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead class="table__header">
          <tr class="table__line">
            <th class="table__header-title" colspan="2">
              <app-icon source="./assets/img/bike-icon.png" alt="Bike Icon" [height]="25" [width]="25"></app-icon>
              Cycling
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="table__line">
            <th class="table__header-content">Rides</th>
            <td class="table__line-content">{{athleteStats?.all_ride_totals?.count}}</td>
          </tr>
          <tr class="table__line">
            <th class="table__header-content">Distance</th>
            <td class="table__line-content">{{athleteStats?.all_ride_totals?.distance}}K</td>
          </tr>
          <tr class="table__line">
            <th class="table__header-content">Moving Time</th>
            <td class="table__line-content">{{athleteStats?.all_ride_totals?.moving_time}} hours</td>
          </tr>
          <tr class="table__line">
            <th class="table__header-content">Avg Speed</th>
            <td class="table__line-content">{{cyclingAvgSpeed}} km/h</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #notfoundBlock>
      <div class="notfoundblock">
        <img class="notfoundblock__img" height="250"
          src="https://i.ytimg.com/vi/wEWF2xh5E8s/hqdefault.jpg"
          alt="404 image: not found">
          <h4>Something is wrong :/</h4>
          <h5>Status code: {{errorStatus}}</h5>
          <h6>Details: {{errorMessage}}</h6>
        <div class="notfoundblock__btn-wrapper">
          <app-button class="notfound__button" buttonText="← Return" [route]="['/']">
          </app-button>
        </div>
      </div>
    </ng-template>
    <ng-template #loadingBlock>
      <div class="loadingblock" *ngIf="!notFound else notfoundBlock">
        <img class="loadingblock__img" height="280" src="https://i.stack.imgur.com/ATB3o.gif" alt="Loading image">
        <h4>
          Wait for it...
        </h4>
      </div>
    </ng-template>
  </div>
</div>