table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.4rem;
    text-align: left;
}

.container {
    margin-top: 7rem;
    justify-content: space-around;
    display: block;
    text-align: center;

    &__box {
        border: 3px solid var(--strava-orange);
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 80vw;
        display: inline-block;
    }

    &__title {
        text-align: center;
        color: var(--strava-orange);
        justify-content: center;
    }

    &__avatar-img {
        border: 3px solid #bbbbbb;
        border-radius: 50%;
    }
}

.table {
    width: 70vw;
    display: inline-table;
    margin-bottom: 2vh;

    &__header {
        &-title {
            font-weight: 900;
            font-size: 0.8rem;

        }

        &-content {
            font-size: 0.6rem;
        }
    }

    &__line {
        text-align: center;

        &-content {

            font-size: 0.75rem;
        }
    }
}