.home-page {
    &__main-text {
        text-align: center;
        margin-top: 4rem;
    }

    &__container {
        text-align: center;
    }
}

p {
    text-align: center;
}

.form-group{
    margin-top: 2em;
    &__label {
        color: red;
    }
}