.header {

    &__container {
        background-color: var(--star-command-blue);
        width: 100vw;
        height: 3.75rem;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__img {
        width: 4rem;
        height: inherit;
        float: left;
        margin-left: 0.3rem;
        filter: brightness(0) invert(1);
    }

    &__title {
        color: #FFFFFF;
        text-align: right;
        margin-right: 0.3rem;
    }
}