<div>
  <ul>
    <li>
      <app-icon source="./assets/img/strava.png" alt="Strava Icon" [height]="16" [width]="16"></app-icon>
      <a class="footer__link-strava" href="https://www.strava.com/athletes/28361582">Strava</a>
    </li>
    <li>
      <app-icon source="./assets/img/linkedin.png" alt="LinkedIn Icon" [height]="16" [width]="16"></app-icon>
      <a class="footer__link-linkedin" href="https://www.linkedin.com/in/hadnan-basilio-92b1791a3/">LinkedIn</a>
    </li>
    <li>
      <app-icon source="./assets/img/github.png" alt="Github Icon" [height]="16" [width]="16"></app-icon>
      <a class="footer__link-github" href="https://github.com/basiliohadnan">Github</a>
    </li>
  </ul>
</div>